<!DOCTYPE html>
<html>
    <head>
    <title>Chad Schulz</title>
    <link rel='stylesheet' href='/css/cs.css' />
    <link rel='stylesheet' href='/css/cs.responsive.css' />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul>
                <li><a href="http://chadschulz.com/">Chad Schulz</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="container">
            <h1>Chad Schulz</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <h3>chadschulz.com</h3>
            <p>Chad's website.</p>
        </div>
    </section>

</body>
</html>