<!DOCTYPE html>
<html>
<head>
    <title>Chad Schulz</title>
    <link rel='stylesheet' href='/css/cs.css' />
    <link rel='stylesheet' href='/css/cs.responsive.css' />
</head>
<body>
    <nav class="navbar navbar-fixed">
        <div class="container-thin">
            <ul role="navigation">
                <li class="logo"><a href="http://chadschulz.com/">Chad Schulz</a></li>
                <li class="social">
                    <ul>
                        <li><a href="https://github.com/squalrus" target="_blank"><i class="icon-github-sign"></i></a></li>
                        <li><a href="https://twitter.com/chadschulz" target="_blank"><i class="icon-twitter-sign"></i></a></li>
                        <li><a href="http://www.linkedin.com/in/chadschulz" target="_blank"><i class="icon-linkedin-sign"></i></a></li>
                        <li><a href="https://www.facebook.com/Squalrus" target="_blank"><i class="icon-facebook-sign"></i></a></li>
                        <li><a href="plus.google.com" target="_blank"><i class="icon-google-plus-sign"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <header role="banner">
    </header>

    <section role="main">
        <div class="container-thin">
            <h2>Activity</h2>
            <div id="github-feed" class="activity-stream"></div>

            <div id="twitter-status" class="activity-stream"></div>

        </div>
    </section>

    <footer>
        <div class="container-thin">
            <p>&copy; 2013</p>
        </div>
    </footer>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/Stream.js"></script>
    <script src="/js/Stream.Github.js"></script>
    <script src="/js/Stream.Twitter.js"></script>
    <script src="/js/cs.js"></script>
    <script src="/js/cs.util.js"></script>
    <script>
        var stream = new ActivityStream;

        $.when( stream.github(), stream.twitter() ).done( function( ){
            $( '#github-feed' ).html( stream.toString() );
        });
    </script>
</body>
</html>