<!DOCTYPE html>
<html>
<head>
    <title>Chad Schulz</title>
    <link rel='stylesheet' href='/css/cs.css' />
    <link rel='stylesheet' href='/css/cs.responsive.css' />
</head>
<body>
    <nav class="navbar navbar-fixed">
        <div class="container-thin">
            <ul>
                <li><a href="http://chadschulz.com/">Chad Schulz</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="container-thin">
            <h1>Chad Schulz</h1>
            <h2>Activity</h2>
            <div id="github-profile"></div>
            <div id="github-feed" class="activity-stream"></div>

            <!--
            <h3>Twitter</h3>
            <div id="twitter-status"></div>
            -->

        </div>
    </section>

    <footer>
        <div class="container-thin">
            <p>&copy; 2013</p>
        </div>
    </footer>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/cs.js"></script>
    <script src="/js/cs.util.js"></script>
    <script src="/js/cs.github.js"></script>
    <!-- <script src="/js/cs.twitter.js"></script> -->
</body>
</html>