.container {
    margin: 0 auto;
    width: 960px;
}

.container-thin {
    margin: 0 auto;
    width: 660px;
}

section {

}

footer {
    background-color: #DDD;
    margin: 0;

    p { margin: 0; }
}